@media screen and (max-width: 1000px) {

    #content,
    aside {
        width: 98%;
        padding: 0;
    }

    nav {
        z-index: 1030;
    }

    nav img {
        display: none;
    }

    nav ul {
        float: none;
    }

    .dropdown-content {
        position: absolute;
        left: 250px;
        right: 600px;
    }
}

@media screen and (max-width: 440px) {
    .dropdown-content {
        position: absolute;
        left: 20px;
        right: 700px;
    }
}
